<script src="/jquery.min.js"></script>
<script src="/highcharts.js"></script>

<html>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</html>

<script>
  $(function () {
        $('#container').highcharts({
            title: {
                text: '<%= @data.first[:file] %> vs. <%= @data.last[:file] %>',
                x: -20 //center
            },
            yAxis: {
                title: {
                    text: 'Magnitude'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '<%= @data.first[:file] %>',
                data: <%= @data.first[:filtered_data] %>
            }, {
                name: '<%= @data.last[:file] %>',
                data: <%= @data.last[:filtered_data] %>
            }]
        });
    });
</script>