<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
  <table class="data">
    <th>User</th>
    <th>Method</th>
    <th>Measurement</th>
    <th>Trial</th>
    <th>Actual</th>
    <th>Calculated</th>
    <th>Delta</th>
    <th></th>
    <% @data.each do |h| %>
      <% device = h[:device] %>
      <% steps = h[:steps] %>
      <% url = "detail/" + h[:file] %>
      <tr>
        <td><%= h[:user].gender %></td>
        <td><%= device.method %></td>
        <td><%= device.format %></td>
        <td><%= device.trial %></td>
        <td><%= device.steps %></td>
        <td><%= steps %></td>
        <td><%= steps - device.steps %></td>
        <td><a href=<%= url %>>Detail</a></td>
      </tr>
    <% end %>
  </table>
  <form method="post" action="/create" enctype="multipart/form-data">
    <h3 class="upload-header">Device Info</h3>
    <input id="file" name="device[file]" type="file">
    <input class="params" type="text" name="device[rate]" placeholder="Sampling Rate">
    <input class="params" type="text" name="device[meta_data][method]" placeholder="Method">
    <input class="params" type="text" name="device[meta_data][steps]" placeholder="Actual Step Count">
    <input class="params" type="text" name="device[meta_data][trial]" placeholder="Trial Name">
    <h3 class="upload-header">User Info</h3>
    <select class="params" name="user[gender]">
      <option value="">(Select a gender)</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select>
    <input class="params" type="text" name="user[height]" placeholder="Height (cm)">
    <input class="params" type="text" name="user[stride]" placeholder="Stride (cm)">
    <div class="controls"><input type="submit" value="submit"></div>
  </form>
</html>