<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
  <table>
    <tr>
        <td>
          <table class="data">
            <th>User</th>
            <th>Method</th>
            <th>Measurement</th>
            <th>Trial</th>
            <th>Actual</th>
            <th>Calculated</th>
            <th>Delta</th>
            <th></th>
            <% @data.each do |h| %>
              <% file = h[:file] %>
              <% device = h[:device] %>
              <% steps = h[:steps] %>
              <% url = "detail/" + file %>
              <tr>
                <td><%= file.split('/')[2] %></td>
                <td><%= device.method %></td>
                <td><%= device.format %></td>
                <td><%= device.trial %></td>
                <td><%= device.steps %></td>
                <td><%= steps %></td>
                <td><%= steps - device.steps %></td>
                <td><a href=<%= url %>>Detail</a></td>
              </tr>
            <% end %>
          </table>
        </td>
    </tr>
  </table>  
</html>