<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
  <table>
    <tr>
        <td>
          <table class="data">
            <th>User</th>
            <th>Method</th>
            <th>Trial</th>
            <th>Actual</th>
            <th>Calculated</th>
            <th>Delta</th>
            <th></th>
            <% @data.each do |file, steps| %>
              <% url = "detail/" + file %>
              <tr>
                <td><%= file.split('/')[2] %></td>
                <td><%= file.split('/').last.split('-')[0] %></td>
                <td><%= file.split('/').last.split('-')[3].to_i %></td>
                <td><%= file.split('/').last.split('-')[1] %></td>
                <td><%= steps %></td>
                <td><%= steps - file.split('/').last.split('-')[1].to_i %></td>
                <td><a href=<%= url %>>Detail</a></td>
              </tr>
            <% end %>
          </table>
        </td>
        <td class="compare">
            <% @pairs.each do |file_1, file_2| %>
                <div>
                    <% url = "/data/compare/" + file_1 + "/and/" + file_2 %>
                    <a href=<%= url %>> Compare</a> <%= file_1 %> and <%= file_2 %>
                </div>
            <% end %>
        </td>
    </tr>
  </table>  
</html>