<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
  <table>
    <tr>
        <td>
          <table class="data">
            <th>User</th>
            <th>File</th>
            <th>Steps</th>
            <% @data.each do |file, steps| %>
            <tr>
              <td><%= file.split('/')[2] %></td>
              <td><%= file.split('/')[3] %></td>
              <td><%= steps %></td>
            </tr>
            <% end %>
          </table>
        </td>
        <td class="compare">
            <% @pairs.each do |file_1, file_2| %>
                <div>
                    <%= file_1%>, <%= file_2%>
                </div>
            <% end %>
            <a href="/data/compare/test/data/female/bag-10-a-1.txt/and/test/data/female/bag-10-g-1.txt">
                Compare bag-10-a-1.txt and bag-10-g-1.txt
            </a>
            </br>
            <a href="/data/compare/test/data/female/bag-10-a-2.txt/and/test/data/female/bag-10-g-2.txt">
                Compare bag-10-a-1.txt and bag-10-g-1.txt
            </a>
        </td>
    </tr>
  </table>  
</html>