<script src="/jquery.min.js"></script>
<script src="/highcharts.js"></script>
<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
    <a class="nav" href='/data'>Back to Data</a>
    <table class="summary">
        <tr>
            <th>User</th>
            <th>Method</th>
            <th>Measurement</th>
            <th>Trial</th>
            <th>Actual</th>
            <th>Calculated</th>
            <th>Delta</th>
            <th>Distance</th>
            <th>Time</th>
        </tr>
        <tr>
            <%= erb :summary, :locals => {:user => @user, :parser => @parser, :steps => @analyzer.steps} %>
            <td><%= ViewHelper.format_distance(@analyzer.distance) %></td>
            <td><%= ViewHelper.format_time(@analyzer.time) %></td>
        </tr>
    </table>

    <div id="container-dot-product" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="container-filtered" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <% if @match_filtered_data %>
        <% comparison_title = (@parser.format == 'accelerometer') ? 'Gravity' : 'Accelerometer' %>
        <div id="container-comparison" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <% end %>
</html>

<script>
  $(function () {
        $('#container-dot-product').highcharts({
            title: { text: 'Dot Product Data' },
            series: [{
                name: 'Dot Product Data',
                data: <%= @parser.dot_product_data %>
            }]
        });

        $('#container-filtered').highcharts({
            title: { text: 'Filtered Data' },
            series: [{
                name: 'Filtered Data',
                data: <%= @parser.filtered_data %>
            }]
        });

        if ($('#container-comparison').length > 0) {
            $('#container-comparison').highcharts({
                title: { text: 'Comparison to ' + '<%= comparison_title %>' },
                series: [{
                    name: '<%= @parser.format.capitalize %>',
                    data: <%= @parser.filtered_data %>
                }, {
                    name: '<%= comparison_title %>',
                    data: <%= @match_filtered_data || [] %>
                }]
            });
        }
    });
</script>