<td><%= analyzer.user.gender %></td>
<td><%= analyzer.device.method %></td>
<td><%= analyzer.parser.format %></td>
<td><%= analyzer.device.trial %></td>
<td><%= analyzer.device.steps %></td>
<td><%= analyzer.steps %></td>
<td><%= analyzer.steps - analyzer.device.steps %></td>
