<td><%= user.gender %></td>
<td><%= parser.device.method %></td>
<td><%= parser.format %></td>
<td><%= parser.device.trial %></td>
<td><%= parser.device.steps %></td>
<td><%= steps %></td>
<td><%= steps - parser.device.steps %></td>
