<table class="summary">
  <th>Name</th>
  <th>Method</th>
  <th>Actual</th>
  <th>Calculated</th>
  <th>Delta</th>
  <th>User</th>
  <% unless detail_hidden %>
    <th>Distance</th>
    <th>Time</th>
  <% end %>
  <% pipelines.each do |pipeline| %>
    <tr>
      <td><%= pipeline.upload.trial.name %></td>
      <td><%= pipeline.upload.trial.method %></td>
      <td><%= pipeline.upload.trial.steps %></td>
      <td><%= pipeline.analyzer.steps %></td>
      <td><%= pipeline.analyzer.delta %></td>
      <td><%= pipeline.upload.user.gender %></td>
      <% if detail_hidden %>
        <td>
          <a href=<%= "upload/" + pipeline.upload.file_path %>>Detail</a>
        </td>
      <% else %>
        <td><%= format_distance(pipeline.analyzer.distance) %></td>
        <td><%= format_time(pipeline.analyzer.time) %></td>
      <% end %>
    </tr>
  <% end %>
</table>