<td><%= user.gender %></td>
<td><%= device.method %></td>
<td><%= device.format %></td>
<td><%= device.trial %></td>
<td><%= device.steps %></td>
<td><%= steps %></td>
<td><%= steps - device.steps %></td>
