<script src="/jquery.min.js"></script>
<script src="/highcharts.js"></script>
<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
    <a class="nav" href='/trials'>Back to Trials</a>
    <%= erb :summary, locals: { trials: [@trial], detail_hidden: false } %>

    <% if @trial.analyzer.parser.format == 'combined' %>
        <div id="container-total"></div>
    <% else %>
        <div id="container-total-calculated"></div>
        <div id="container-xyz-user"></div>
        <div id="container-xyz-gravity"></div>
    <% end %>
    <div id="container-dot-product"></div>
    <div id="container-filtered"></div>

    <% if @match_filtered_data %>
        <% comparison_title = @trial.analyzer.parser.is_data_combined? ? 'Separated' : 'Combined' %>
        <div id="container-comparison"></div>
    <% end %>
</html>

<script>
  $(function () {
        if ($('#container-total').length > 0) {
            $('#container-total').highcharts({
                title: { text: 'Total Acceleration' },
                series: [{
                    name: 'x',
                    data: <%= @trial.analyzer.parser.data.split(';').map { |i| i.split(',')[0].to_f }[250..350] %>
                }, {
                    name: 'y',
                    data: <%= @trial.analyzer.parser.data.split(';').map { |i| i.split(',')[1].to_f }[250..350] %>
                }, {
                    name: 'z',
                    data: <%= @trial.analyzer.parser.data.split(';').map { |i| i.split(',')[2].to_f }[250..350] %>
                }]
            });
        }

        if ($('#container-total-calculated').length > 0) {
            $('#container-total-calculated').highcharts({
                title: { text: 'Total Acceleration' },
                series: [{
                    name: 'x',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:x] + h[:xg] }[250..350] %>
                }, {
                    name: 'y',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:y] + h[:yg] }[250..350] %>
                }, {
                    name: 'z',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:z] + h[:zg] }[250..350] %>
                }]
            });
        }

        if ($('#container-xyz-user').length > 0) {
            $('#container-xyz-user').highcharts({
                title: { text: 'User Acceleration' },
                series: [{
                    name: 'x',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:x] }[250..350] %>
                }, {
                    name: 'y',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:y] }[250..350] %>
                }, {
                    name: 'z',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:z] }[250..350] %>
                }]
            });
        }

        if ($('#container-xyz-gravity').length > 0) {
            $('#container-xyz-gravity').highcharts({
                title: { text: 'Gravitational Acceleration' },
                series: [{
                    name: 'x',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:xg] }[250..350] %>
                }, {
                    name: 'y',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:yg] }[250..350] %>
                }, {
                    name: 'z',
                    data: <%= @trial.analyzer.parser.parsed_data.map { |h| h[:zg] }[250..350] %>
                }]
            });
        }

        $('#container-dot-product').highcharts({
            title: { text: 'Dot Product Data' },
            series: [{
                name: 'Dot Product Data',
                data: <%= ViewHelper.limit_1000(@trial.analyzer.parser.dot_product_data) %>
            }]
        });

        $('#container-filtered').highcharts({
            title: { text: 'Filtered Data' },
            series: [{
                name: 'Filtered Data',
                data: <%= ViewHelper.limit_1000(@trial.analyzer.parser.filtered_data) %>
            }]
        });

        if ($('#container-comparison').length > 0) {
            $('#container-comparison').highcharts({
                title: { text: 'Comparison to ' + '<%= comparison_title %>' },
                series: [{
                    name: '<%= @trial.analyzer.parser.format.capitalize %>',
                    data: <%= ViewHelper.limit_1000(@trial.analyzer.parser.filtered_data) %>
                }, {
                    name: '<%= comparison_title %>',
                    data: <%= ViewHelper.limit_1000(@match_filtered_data) %>
                }]
            });
        }
    });
</script>